.navbar-container {
  width: 100%;
  min-height: 9vh;
  /* background-color: #070432; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logoimg {
  width: 6rem;
  height: 3rem;
  z-index: 100;
  position: relative;
}
.logoimgnavList {
  width: 9rem;
}
.navIcon {
  display: none;
}
.listmobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  /* background-color: red; */
  background: linear-gradient(to bottom, #010005, #089089);
  height: 78vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;
  animation: slideup .5s forwards;
  z-index: 70;
}
@keyframes slideup {
  0% {
    right: 90vw;
  }
  100% {
    right: 0;
  }
}
.listmobile .navMainIcon {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.2rem;
  border-bottom: 1px solid #0aaca47c;
  background-color: red;
  background: linear-gradient(to bottom, #03393379, #013f3c55);
}
.listmobile .navMainIcon:hover {
  /* background-color: #0890899e; */
  /* background: linear-gradient(to bottom ,#04ac9c,#089089); */
  background: linear-gradient(to bottom, #075249b2, #013f3c8c);

  transition-duration: 1s;
  font-weight: 500;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.listLarger {
  display: flex;
  border: 0.5px solid #0890899e;
  text-transform: capitalize;
  /* gap: %; */
  /* width: 50%; */
  justify-content: center;
  padding: 5px 2rem;
  border-radius: 50px;
}
.listLarger a {
  /* border: 1px solid; */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-radius: 30px;
}
.listLarger a:hover {
  background-color: #0890899e;
  transition-duration: 1.2s;
}
/* -------------------------------- */

.bnrDetails {
  text-align: center;
}
.btnbnr {
  height: 2.5rem;
  /* width: 8rem; */
  padding: 0 1rem;
  border-radius: 30px;
  font-family: inherit;
  border: none;
  outline: none;
  /* font-size: 0.2rem; */
}
.navButton {
  /* width: 5rem; */
  /* height: 2rem; */
  padding: 0.5rem 2rem;
  color: var(--white);
  /* background-color: #0890899e; */
  background-color: #08908980;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navButton:hover {
  background-color: #0aaca4b0;
  transition-duration: 1.2s;
}
/* -------------------------------- */
.listaddons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listaddons h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--CeladonSorbet);
  text-align: center;
}
.navbar-socio-Links {
  display: flex;
  gap: 1rem;
  /* text-align: center; */
  justify-content: center;
}
.navbar-socio-Links a {
  color: red;
  color: var(--CeladonSorbet);
  font-size: 1.7rem;
  background-color: transparent;
}
@media (max-width: 768px) {
  .navIcon {
    display: flex;
    font-size: 1.6rem;
    color: #04ac9c;
    z-index: 100;
  }
  .listLarger {
    display: none;
  }
  .navButton {
    display: none;
  }
}
